<p id="notice"><%= notice %></p>

<h1>Market Monitors</h1>

<table>
  <thead>
    <tr>
      <th>Market close date</th>
      <th>Up four pct daily</th>
      <th>Down four pct daily</th>
      <th>Up twenty five pct quarter</th>
      <th>Down twenty five pct quarter</th>
      <th>Up twenty five pct month</th>
      <th>Down twenty five pct month</th>
      <th>Up twenty five pct month</th>
      <th>Down twenty five pct month</th>
      <th>Up thirteen pct six weeks</th>
      <th>Down thirteen pct six weeks</th>
      <th>Up fifty pct month</th>
      <th>Down fifty pct month</th>
      <th>Total stocks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @market_monitors.each do |market_monitor| %>
      <tr>
        <td><%= market_monitor.market_close_date %></td>
        <td><%= market_monitor.up_four_pct_daily %></td>
        <td><%= market_monitor.down_four_pct_daily %></td>
        <td><%= market_monitor.up_twenty_five_pct_quarter %></td>
        <td><%= market_monitor.down_twenty_five_pct_quarter %></td>
        <td><%= market_monitor.up_twenty_five_pct_month %></td>
        <td><%= market_monitor.down_twenty_five_pct_month %></td>
        <td><%= market_monitor.up_twenty_five_pct_month %></td>
        <td><%= market_monitor.down_twenty_five_pct_month %></td>
        <td><%= market_monitor.up_thirteen_pct_six_weeks %></td>
        <td><%= market_monitor.down_thirteen_pct_six_weeks %></td>
        <td><%= market_monitor.up_fifty_pct_month %></td>
        <td><%= market_monitor.down_fifty_pct_month %></td>
        <td><%= market_monitor.total_stocks %></td>
        <td><%= link_to 'Show', market_monitor %></td>
        <td><%= link_to 'Edit', edit_market_monitor_path(market_monitor) %></td>
        <td><%= link_to 'Destroy', market_monitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Market Monitor', new_market_monitor_path %>
