<p id="notice"><%= notice %></p>

<p>
  <strong>Market close date:</strong>
  <%= @market_monitor.market_close_date %>
</p>

<p>
  <strong>Up four pct daily:</strong>
  <%= @market_monitor.up_four_pct_daily %>
</p>

<p>
  <strong>Down four pct daily:</strong>
  <%= @market_monitor.down_four_pct_daily %>
</p>

<p>
  <strong>Up twenty five pct quarter:</strong>
  <%= @market_monitor.up_twenty_five_pct_quarter %>
</p>

<p>
  <strong>Down twenty five pct quarter:</strong>
  <%= @market_monitor.down_twenty_five_pct_quarter %>
</p>

<p>
  <strong>Up twenty five pct month:</strong>
  <%= @market_monitor.up_twenty_five_pct_month %>
</p>

<p>
  <strong>Down twenty five pct month:</strong>
  <%= @market_monitor.down_twenty_five_pct_month %>
</p>

<p>
  <strong>Up twenty five pct month:</strong>
  <%= @market_monitor.up_twenty_five_pct_month %>
</p>

<p>
  <strong>Down twenty five pct month:</strong>
  <%= @market_monitor.down_twenty_five_pct_month %>
</p>

<p>
  <strong>Up thirteen pct six weeks:</strong>
  <%= @market_monitor.up_thirteen_pct_six_weeks %>
</p>

<p>
  <strong>Down thirteen pct six weeks:</strong>
  <%= @market_monitor.down_thirteen_pct_six_weeks %>
</p>

<p>
  <strong>Up fifty pct month:</strong>
  <%= @market_monitor.up_fifty_pct_month %>
</p>

<p>
  <strong>Down fifty pct month:</strong>
  <%= @market_monitor.down_fifty_pct_month %>
</p>

<p>
  <strong>Total stocks:</strong>
  <%= @market_monitor.total_stocks %>
</p>

<%= link_to 'Edit', edit_market_monitor_path(@market_monitor) %> |
<%= link_to 'Back', market_monitors_path %>
