<p id="notice"><%= notice %></p>

<h1>Five Period Leaders</h1>
<p class="centered">
  <%= link_to 'New Five Period Leader', new_five_period_leader_path, class: 'btn' %>
</p>
<div class="center-inline">
  <table class="center">
    <thead>
      <tr>
      <th>Positive</th>
      <th>Negative</th>
      <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @five_period_leaders.each do |five_period_leader| %>
      <tr class='centered'>
        <td><%= five_period_leader.positive %></td>
        <td><%= five_period_leader.negative %></td>
        <td><%= link_to 'Edit', edit_five_period_leader_path(five_period_leader) %></td>
        <td id=<%= dom_id(five_period_leader) %>><%= link_to 'Destroy', five_period_leader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
