<p id="notice"><%= notice %></p>

<p>
  <strong>Positive:</strong>
  <%= @five_period_leader.positive %>
</p>

<p>
  <strong>Negative:</strong>
  <%= @five_period_leader.negative %>
</p>

<%= link_to 'Edit', edit_five_period_leader_path(@five_period_leader) %> |
<%= link_to 'Back', five_period_leaders_path %>
