<%= form_with(model: stock_symbol, local: true) do |form| %>
  <% if stock_symbol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_symbol.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% stock_symbol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :symbol %>:
    <%= form.text_area :symbol, id: :add_symbol_symbol_group, cols: 80, rows: 1 %>
  </div>

  <div class="field">
    <%= form.label :company_name %>:
    <%= form.text_area :company_name, id: :add_company_name_group, cols: 80, rows: 1 %>
  </div>

  <div class='field'>
    <%= form.label :sectors %>
    <% options = options_from_collection_for_select(sectors, 'id', 'name') %>
    <%= form.select :sector_id,  options %>
  </div>

  <div class='field'>
    <%= form.label :industries %>
    <% options = options_from_collection_for_select(industries, 'id', 'name') %>
    <%= form.select :industry_id,  options %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
