<p id="notice"><%= notice %></p>
<%= form_tag daily_high_lows_upload_path do %>
  <%= submit_tag "Import High Lows" %>
<% end %>
<h1 class='high_low_header'>Daily High Lows</h1>
<div>
<%= link_to 'New Daily High Low', new_daily_high_low_path, class: 'link_to' %>
<div>
<table>
  <thead>
    <tr>
      <th class='daily_high_low_heading'>Date</th>
      <th class='daily_high_low_heading'>1M Highs</th>
      <th class='daily_high_low_heading'>1M Lows</th>
      <th class='daily_high_low_heading'>3M Highs</th>
      <th class='daily_high_low_heading'>3M Lows</th>
      <th class='daily_high_low_heading'>6M Highs</th>
      <th class='daily_high_low_heading'>6M Lows</th>
      <th class='daily_high_low_heading'>52W Highs</th>
      <th class='daily_high_low_heading'>52W Lows</th>
      <th class='daily_high_low_heading'>All Time Highs</th>
      <th class='daily_high_low_heading'>All Time Lows</th>
      <th class='daily_high_low_heading'>YTD Highs</th>
      <th class='daily_high_low_heading'>YTD Lows</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @daily_high_lows.each do |daily_high_low| %>
      <tr>
        <td class='daily_high_low_data'><%= daily_high_low.market_close_date %></td>
        <td class='daily_high_low_data'><%= daily_high_low.one_month_high %></td>
        <td class='daily_high_low_data'><%= daily_high_low.one_month_low %></td>
        <td class='daily_high_low_data'><%= daily_high_low.three_month_high %></td>
        <td class='daily_high_low_data'><%= daily_high_low.three_month_low %></td>
        <td class='daily_high_low_data'><%= daily_high_low.six_month_high %></td>
        <td class='daily_high_low_data'><%= daily_high_low.six_month_low %></td>
        <td class='daily_high_low_data'><%= daily_high_low.fifty_two_week_high %></td>
        <td class='daily_high_low_data'><%= daily_high_low.fifty_two_week_low %></td>
        <td class='daily_high_low_data'><%= daily_high_low.all_time_high %></td>
        <td class='daily_high_low_data'><%= daily_high_low.all_time_low %></td>
        <td class='daily_high_low_data'><%= daily_high_low.year_to_date_high %></td>
        <td class='daily_high_low_data'><%= daily_high_low.year_to_date_low %></td>
        <td><%= link_to 'Edit', edit_daily_high_low_path(daily_high_low), class: 'btn btn-edit' %></td>
        <td><%= link_to 'Delete', daily_high_low, class: 'btn btn-delete', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
