<li class="header-link"><%= link_to 'Daily High Lows', daily_high_lows_path %></li>
<li class="header-link"><%= link_to 'New Symbol', new_stock_symbol_path %></li>
<li class="header-link"><%= link_to 'Five Period Leaders', five_period_leaders_path %></li>
<li class="header-link"><%= link_to 'Price History', new_price_history_path %></li>
<li class="header-link"><%= link_to 'Universe', new_tradeable_universe_path %></li>
