<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>4% +</th>
      <th>4% -</th>
      <th>25% Q+</th>
      <th>25% Q-</th>
      <th>25% M+</th>
      <th>25% M-</th>
      <th>13% +</th>
      <th>13% -</th>
      <th>50% M+</th>
      <th>50% M-</th>
      <th>Total stocks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @market_monitors.each do |market_monitor| %>
      <tr>
        <td><%= market_monitor.market_close_date %></td>
        <td><%= market_monitor.up_four_pct_daily %></td>
        <td><%= market_monitor.down_four_pct_daily %></td>
        <td><%= market_monitor.up_twenty_five_pct_quarter %></td>
        <td><%= market_monitor.down_twenty_five_pct_quarter %></td>
        <td><%= market_monitor.up_twenty_five_pct_month %></td>
        <td><%= market_monitor.down_twenty_five_pct_month %></td>
        <td><%= market_monitor.up_thirteen_pct_six_weeks %></td>
        <td><%= market_monitor.down_thirteen_pct_six_weeks %></td>
        <td><%= market_monitor.up_fifty_pct_month %></td>
        <td><%= market_monitor.down_fifty_pct_month %></td>
        <td><%= market_monitor.total_stocks %></td>
      </tr>
    <% end %>
  </tbody>
</table>
